<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>17721132124-c5vdopknh45hd3mad1e7q3h07rlcheaf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.17721132124-c5vdopknh45hd3mad1e7q3h07rlcheaf</string>
	<key>API_KEY</key>
	<string>AIzaSyD1ycSNwE3dPafwILGWMxXUht7acxIvsv8</string>
	<key>GCM_SENDER_ID</key>
	<string>17721132124</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vric</string>
	<key>PROJECT_ID</key>
	<string>vric-1639460119417</string>
	<key>STORAGE_BUCKET</key>
	<string>vric-1639460119417.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:17721132124:ios:dbc91e0bf8678d549cd299</string>
</dict>
</plist>